/* 原版增强 */
.deadwood-trinity {
  color: var(--gold);
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .deadwood-trinity {
    background: linear-gradient(90deg, var(--gold) 15%, var(--black) 50%, var(--purple) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.lustfulbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.25em;
  background: linear-gradient(90deg, var(--purple), var(--lewd), #b66bec, #ff1493);
  background-size: 200% 100%;
  animation: 60s infinite linear lustful;
  z-index: 0;
  max-width: 100%;
}

@keyframes blood {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 200px;
  }
}

.silverbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.25em;
  background-color: var(--silver);
  z-index: 0;
  max-width: 100%;
}
